div {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}
div p {
  text-align: center;
  margin: 0;
}

body {
  margin: 0;
}
body > div {
  height: 25vh;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}
